:root {
    /* Colors */
    --gradient: linear-gradient(90deg, rgba(5,70,97,1) 0%, rgba(24,151,182,1) 100%);
    /* --primary:  #0f0f50; */
    --primary:  #1588A7;
    --secondary:  #34395e;
    --success:  #47c363;
    --info:  #3abaf4;
    --warning:  #ffa426;
    --danger:  #fc544b;
    --light:  #e3eaef;
    --dark:  #191d21; }