
/* Global Extended start */

::placeholder {
  opacity: 0.4!Important;
}

input:focus , textarea:focus , select:focus {
  border: 1px solid var(--primary)!important;
}

/* Global Extended end */

/* Upload File start */

.file-upload {
  background-color: #ffffff;
  margin: 0 auto;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 1px solid #e4e6fc;
  border-radius: 5px;
  position: relative;
  padding: 0px 20px;
  background-color: #fdfdff;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: var(--primary);
  color: white;
}

.image-title-wrap {
  color: #222;
}

.drag-text {
  text-align: center;
  padding: 20px;
}

.drag-text i {
  font-size: 25px;
}

.drag-text h3 {
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 15px;
}

.file-upload-image {
  max-height: 200px;
  width: 400px;
  margin: 10px auto;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .file-upload-image {
    width: 100%;
  }
}

.remove-image {
  width: 200px;
  margin: 20px 0px 0px 0px;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

/* Upload File end */




/* Card Item start */

.card-item .card-body {
  padding: 0px;
}

.card-item .card-footer {
  padding: 10px 20px;
  font-weight: bolder;
}

.card-item .card-footer .harga-item {
  color: #FF0000;
}

.card-item .card-footer .lokasi-item i {
  color: #D22F27;
}

.card-item img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

/* Card Item end */



/* Stisla Form start */

.card-form {
  border-radius: 7px;
  /* border: solid 1px #f7f7f7; */
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.card-form .card-body {
  padding: 30px 40px;
}

.card-form .form-title {
  font-weight: bolder;
  font-size: larger;
  color: black;
}

.card-form .form-sub-title {
  margin-bottom: 30px;
}

.card-form .radio-form {
  display: flex;
}

.card-form .radio-form > div {
  margin-right: 20px;
}

.card-form img {
  width: 100%;
  margin-bottom: 24px;
}

/* Stisla Form end */


/* SWAL start */

.swal-button.swal-button--confirm {
  background-color: var(--primary);
}

.swal-button--danger:not([disabled]):hover {
  background-color: var(--secondary);
}

/* SWAL end */